{% load static %}
<div class="navbar">
  <ul>
    <li><a href="{% url 'tracker:index' %}">Home</a></li>
    <li><a href="{% url 'tracker:products' %}">Products</a></li>
    <li><a href="{% url 'tracker:product_form' %}">Add products</a></li>
    <li><a href="{% url 'tracker:chart' %}">Analyze products</a></li>
      {% if user.is_authenticated %}
          <li><a href="{% url 'tracker:product_form_ocr' %}">Add products with AI</a></li>
          <li style="float:right"><a href="{% url 'logout' %}">Logout</a></li>
          <li style="float:right"><a> Hi, {{user.get_username}} </a></li>
      {% else %}
          <li style="float:right"><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
  </ul>
</div>