<!DOCTYPE html>
<html lang="en">
<form action="{% url 'tracker:modify' product.id %}" method="post">
{% csrf_token %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Product - {{ product.product_name }}</title>
    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
</head>

<div class="box">
    <header>  {{product.product_name}} </header>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <table>
        <tr>
            <td>Product type:</td>
            <td>{{ product.product_type }}</td>
        </tr>
        <tr>
            <td>Date of entry:</td>
            <td>{{ product.entry_date }}</td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td>{{ product.amount }}</td>
        </tr>
    </table>
<label for="quantity">Choose amount to edit:</label>
<input type="number" id="amount" name="amount" value="0">
<input type="submit" value="Update">
</div>
</form>
</html>          