{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<div class="box">
    <header>Welcome to your e-Pantry, {{ user }}!</header>

    {% if num_products == 0 %}
        <p>No products are available.</p>
    {% else %}
        <p>
            There {{ num_products|pluralize:"is,are" }}
            {{ num_products }} product{{ num_products|pluralize }}
            in your fridge.
        </p>

        <p>
            {{ num_products|pluralize:"These are,This is" }} the latest product{{ num_products|pluralize }} added:
        </p>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Entry date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in three_latest_product %}
                        <tr>
                            <td>
                                <a href="{% url 'tracker:detail' product.product_id %}">
                                    {{ product.reference.product_name }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'tracker:detail' product.product_id %}">
                                    {{ product.created_at }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <button><a href="{% url 'tracker:products' %}">Open your fridge</a></button>
</div>

{% endblock %}
