{% extends "base.html" %}
{% load static %}

{% block title %}
    Products
{% endblock %}

{% block content %}

<div class="box">
    <header>Your products</header>

    {% if product_list %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Reference</th>
                        <th>Product name</th>
                        <th>Category</th>
                        <th>Entry date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in product_list %}
                        <tr>
                            <td>
                                <a href="{% url 'tracker:detail' product.product_id %}">
                                    {{ product.reference.reference }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'tracker:detail' product.product_id %}">
                                    {{ product.reference.product_name }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'tracker:detail' product.product_id %}">
                                    {{ product.reference.productdetails.category }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'tracker:detail' product.product_id %}">
                                    {{ product.created_at|date:"SHORT_DATETIME_FORMAT" }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No products are available.</p>
    {% endif %}
</div>

<div id="visitcounter">
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
</div>

{% endblock %}
