{% extends "base.html" %}
{% load static %}

{% block title %}
    Add Product
{% endblock %}

{% block content %}
<div class="box">
    <form method="post" class="edit-form">
        {% csrf_token %}
            {% if form.errors %}
                {% for error in field.errors %}
                    <p class="error"><strong>{{ error }}</strong></p>                
                {% endfor %}
            {% endif %}
        {{ form.reference }}
        <input type="submit" value="Add">
    </form>
</div>
{% endblock %}